.App {
  display: flex;
}

.main {
  flex: 1;
}
.app-sider {
  padding: 12px 12px 24px;
  width: 400px;
}
.app-header {
  padding: 12px 12px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.e-box-matrix {
  display: flex;
  padding: 12px;
  flex-wrap: wrap;
  height: calc(100vh - 88px);
  box-sizing: border-box;
}
.e-box-matrix > .e-box {
  margin-bottom: 12px;
}
.e-box-matrix > .e-box:nth-child(2n) {
  margin-left: 12px;
}

